.form {
  max-width: 300px;
  margin: auto;
}
input {
  display: block;
  margin-bottom: 0.5rem;
  width: 100%;
}
button {
  width: 100%;
  background-color: #2196f3;
  color: white;
  padding: 0.5rem;
}
